*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#grid{
    display: grid;
    grid-template-areas: 
    "navbar navbar" 
    "template map";
    grid-template-rows: 7vh 93vh;
    grid-template-columns: 55% 45%;
}

#navbar{
    grid-area: navbar;
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    font-size: 0.5rem;
    padding: 0.4rem;

}

#template{
    grid-area: template;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.nombre{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.nombre h2{
    font-size: 1.5rem;
}

.informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.informacion p{
    
    width: 45%;
}

.tecnicaturas{
    font-size: 1.2rem;
}

#map{
    grid-area: map;
}